html {
  --basic-padding: 2rem;
  --basic-margin: 2rem;

  /*BACKGROUNDS*/
  --main-background: #ededed;
  --primary-color: #86bfbe;

  /* REPORTS CONSTANTS */
  --reports-list-background: #ffffff;
  --reports-row-title-padding: 1rem;
  --reports-row-border: 1px solid #e8e8e8;
}
