html {
  --basic-padding: 2rem;
  --basic-margin: 2rem;
  --main-title-size: 2em;
  --secodary-title-size: 1.3em;

  /*BACKGROUNDS*/
  --primary-color: #86bfbe;
  --secondary-color: #4ebac7;
  --primary-background-color: #ededed;
  --white-color: #ffffff;

  /* REPORTS CONSTANTS */
  --reports-list-background: #ffffff;
  --reports-list-row-title-padding: 1rem;
  --reports-list-row-border: 1px solid #e8e8e8;

  --reports-input-padding: .5rem;
  --sreports-select-padding: .45rem;
  --reports-input-field-border: 2px solid #8f8f8f;

  --reports-button-color: var(--secondary-color);
  --reports-button-background-color: var(--white-color);
  --reports-button-padding: .8rem;
}
