@import "app/styles/reset";
@import "app/styles/constants";
@import "app/styles/mixin";

body{
  font-family: Arial;
  background-color: var(--primary-background-color);
}

h2{
  font-size: var(--secodary-title-size);
  font-weight: bold;
}

.flex-row{
  @include flex(row);
}

.flex-column{
  @include flex(column);
}

.text-center{
  text-align: center;
}
